body {
	background-color: #eee;
}

/*=====================================================================================================================
=======================================================================================================================
========= Navitop ======================================================================================================
=======================================================================================================================
=====================================================================================================================*/

.navitop img.logo {
	border: 1px solid white;
}

/*=====================================================================================================================
=======================================================================================================================
========= Navileft ====================================================================================================
=======================================================================================================================
=====================================================================================================================*/

.navileft-link {
	color: black;
}

.navileft-link:hover div {
	border: 1px solid #007abf;
	color: #007abf;
}

.navileft .title {
	border-bottom: 1px solid #e7e7e7;
}

.navileft-link div {
	border: 1px solid white;
	border-bottom: 1px solid #e7e7e7;
}

/*=====================================================================================================================
=======================================================================================================================
========= Buttons & forms =============================================================================================
=======================================================================================================================
=====================================================================================================================*/

.btn {
	background-color: #007abf;
	color: white;
	border: 1px solid #007abf;
}

.btn:hover {
	border: 1px solid #007abf;
	background-color: white;
	color: #007abf;
}

.dropdown-menu > li > a {
	border: 1px solid white;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #007abf;
	border: 1px solid #007abf;
	background-color: white;
}

/*=====================================================================================================================
=======================================================================================================================
========= Menu ========================================================================================================
=======================================================================================================================
=====================================================================================================================*/

.menu a {
	color: black;
}

.menu h3 {
	border-top: 1px solid white;
	border-bottom: 1px solid #e7e7e7;
}

.active h3 {
	color: #007abf;
	background-color: white;
	border-left: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #fff;
}

.menu h3:hover {
	color:  #007abf;
}

.menu.login {
	background-color: white;
}

/*=====================================================================================================================
=======================================================================================================================
========= Other CSS code===============================================================================================
=======================================================================================================================
=====================================================================================================================*/

a {
	color: #007abf;
}

.col-black {
	color: black;
}

.white {
	background-color: #fff;
}

.other-color {
	background-color: #fff;
}

.pad-15 {
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.form-control:focus {
	border-color: #007abf;
}
